
.reservation-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.reservation-main {
  flex: 1; 
  margin-top: 80px;  
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header .titulo {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.subtitulo {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.placeholder {
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  color: #555;
  font-size: 1.1rem;
}

.btn-cancel {
  background-color: #1E3A8A; 
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-cancel:hover {
  background-color: #274bb5; 
}
