.menu-container {
  height: 100vh;
  background-image: url("https://img.freepik.com/vector-gratis/interior-biblioteca-sala-vacia-leer-libros-estantes-madera_33099-1722.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-card {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 40px 60px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);

  animation: fadeIn 0.7s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

.menu-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 35px;
  letter-spacing: 1px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

.menu-buttons {
  display: flex;
  gap: 40px;
}

.menu-btn {
  background: linear-gradient(to right, #1E3A8A, #2d4fb3);
  color: white;
  padding: 16px 45px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0,0,0,0.35);
  transition: 0.3s ease;
}

.menu-btn:hover {
  background: #D4AF37;
  color: #1E3A8A;
  transform: translateY(-3px) scale(1.06);
  box-shadow: 0 0 16px rgba(255, 215, 0, 0.8);
}
